html [data-theme="light"] {
    background: #EDEEF0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #EDEEF0;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    padding: 100px;
}

.notice {
    padding: 10px;
    border-radius: 6px;
    margin: 20px 0;
}

.notice.error {
    border: 2px solid #762c2c;
    background: #f3d3d3;
    color: #762c2c;
}

.notice.success {
    border: 2px solid #2c742b;
    background: #e1fee3;
    color: #2c742b;
}